.header__logo {
  width: 142px;
  height: 33px;
  margin-bottom: 40px;
}

@media (max-width: 920px) {
  .header__logo {
    margin-left: 27px;
  }
}

@media (max-width: 720px) {
  .header__logo {
    width: 104px;
    height: 24px;
    margin-bottom: 30px;
  }
}
