.popup__title {
  font-size: 24px;
  line-height: 29px;
  font-weight: 900;
  margin: 34px 36px 0;
}

@media (max-width: 570px) {
  .popup__title {
    font-size: 18px;
    line-height: 22px;
    margin: 17px 9px 0;
  }
}
