.element__title {
  font-size: 24px;
  line-height: 29px;
  font-weight: 900;
  font-style: normal;
  margin: 0 0 22px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  max-width: 207px;
}
